{% extends "base.html" %}
{% block title %}Change Profile Information{% endblock %}
{% block content %}
    <div class="container">
        <h1>Change profile information</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form action="#" method="post">
            {{ form.hidden_tag() }}
            {{ render_form_row([form.username]) }}
            {{ render_form_row([form.password]) }}
            {{ render_form_row([form.submit]) }}
        </form>
    </div>
{% endblock %}