{% extends "base.html" %}
{% import 'card.html' as card %}
{% block title %}Página Inicial{% endblock %}
{% block content %}
<div class="container">
    {% if recipes == [] %}
        <h1>Infelizmente não conseguimos encontrar nenhuma receita :(</h1>
    {% else %}
        <h1>Receitas encontradas</h1>
        <div class="card-wrapper">
            {% for recipe in recipes %}
                {{ card.card(recipe, loop.index) }}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}