{% extends "base.html" %}
{% block title %}Cadasto de Receitas{% endblock %}
{% block content %}
<h2>Cadastro de receitas</h2>
<form method="post" action="{{ url_for('routes.recipe_create') }}">
    {{ form.hidden_tag() }}
    {{ render_form_row([form.name]) }}
    <label class="form-label" for="ingredients">Ingredientes</label></br>
    <div id="ingredients"></div>
    <button type="button" class="btn btn-sm add-ingredient-button" onclick="addIngredient()">+</button>
    {{ render_form_row([form.instruction]) }}
    {{ render_form_row([form.submit]) }}
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='recipe_register_script.js') }}"></script>
{% endblock %}