{% extends "base.html" %}
{% block title %}{{ recipe.name }}{% endblock %}
{% block content %}
<div class="container">
    <div class="recipe-page-top">
        <h2 class="recipe-page-name">{{ recipe.name }}</h2>
        <button class="bookmark-icon" onclick="bookmark()"><i class="{{ 'fa-solid' if recipe in current_user.recipes else 'fa-regular'  }} fa-heart fa-lg" id="bookmark-icon"></i></button>
    </div>

    <div class="recipe-page-wrapper">
        <img src="https://picsum.photos/id/1000/640/480" class="recipe-page-img">         
        <div class="ingredients">
            <h3 class="recipe-page-h3">Ingredientes</h3>
            <ul class="recipe-page-ingredients-list">
                {% for assoc in recipe.ingredients %}
                    <li>{{ assoc.quantity|string + 'g' if assoc.quantity < 1000 else (assoc.quantity/1000)|string + 'kg' }} <a href="{{ url_for('routes.ingredients_show', id=assoc.ingredient.id) }}">{{ assoc.ingredient.name }}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="recipe-page-instructions">
        <h3 class="recipe-page-h3">Instruções</h3>
        {{ recipe.instruction }}
    </div>

    <div class="comment-section">
        <h2>Seção de comentários</h2>
        <div class="comment-section-create">
            <form class="comentario" method="post" action="{{ url_for('routes.comment_create', id=recipe.id) }}">
                {{ form.hidden_tag() }}
                {{ form.comment }}
                {{ render_form_row([form.submit]) }}
            </form>
        </div>

        <div class="comment-section-posted-wrapper">
            {% for comment in recipe.comments %}
                <div class="comment-section-posted">
                    <p>{{ comment.text }}</p>
                    <span>
                        {{ comment.user.username }} | <span class="comment-date">{{ comment.created_at }}</span>
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
function bookmark(){
    const url = window.location.pathname;
    const id = url.substring(url.lastIndexOf('/') + 1);
    $.ajax({
        url: '/bookmark/' + id,
        method: 'POST',
        dataType: 'json'
    }).done(function(data){
        let icon = document.getElementById('bookmark-icon')
        if(data[0].added == true){
            icon.classList.remove('fa-regular')
            icon.classList.add('fa-solid')
        } else if(data[0].added == false){
            icon.classList.remove('fa-solid')
            icon.classList.add('fa-regular')
        }
    })
}

window.onload = function(e){ 
    let comments = document.getElementsByClassName('comment-date')
    const options = { hour: 'numeric', minute: 'numeric' };
    for(let i = 0; i < comments.length; i++){
        let date = new Date(comments[i].innerText)
        date.setHours(date.getHours() - 3)
        comments[i].innerText = date.toLocaleDateString('pt-BR', options)
    }

    const csrf_token = "{{ csrf_token() }}"
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
}
</script>
{% endblock %}