body {
    background-color: #f9fafb;
    color: #3a4453;

    font-family: 'Rubik', sans-serif;
}

h1 {
    color: #ff6363;
}

.btn-primary {
    background-color: #ff6363;
    color: #ffeeeb;
    border: 0.1px solid #ff6363;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:first-child:active,
.btn-primary:focus-visible
 {
    background-color: #f7f7ff;
    color: #ff6363;
    border: 0.1px solid #ff6363;
}

.btn-reset {
    background-color: #f7f7ff;
    color: #ff6363;
    border: 0.1px solid #ff6363;
}

.btn-reset:hover,
.btn-reset:active,
.btn-reset:first-child:active,
.btn-reset:focus-visible
 {
    background-color: #ff6363;
    color: #ffeeeb;
    border: 0.1px solid #ff6363;
}

.form-control {
    width: 50%;
}

.navbar-collapse {
    border-bottom: 1px solid #3ec7a775;
}

.navbar-collapse .nav-item {
    color: #ff6363;
}

.navbar-nav .active {
    text-decoration: underline;
}

#ingredients .ingredient .grid-3 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 10rem;
}

.input-group .form-control {
    flex: none;
    min-width: 300px;
    margin-right: 1rem;
    
    border-radius: 0.375rem !important;
}

.ui-widget-content .ui-menu-item-wrapper {
    border: none;
    color: #3a4453;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

.input-group .quantity {
    min-width: 150px;
}

.btn-sm {
    display: flex;
    align-items: center;

    border-radius: 0.2rem !important;
    padding: 0.75rem 0.5rem;
    height: 15px;
    align-self: center;
}

.btn-remove {
    background-color: #ff6363;
    color: #f7f7ff;
    border: 0.1px solid #ff6363;
}

.btn-remove:hover,
.btn-remove:active,
.btn-remove:first-child:active,
.btn-remove:focus-visible
 {
    background-color: none;
    color: #ff6363;
    border: 0.1px solid #ff6363;
}

.add-ingredient-button {
    margin-bottom: 1rem;

    background-color: none;
    color: #3ec7a7;
    border: 0.1px solid #3ec7a7;
}

.add-ingredient-button:hover,
.add-ingredient-button:active,
.add-ingredient-button:first-child:active,
.add-ingredient-button:focus-visible
 {
    background-color: #3ec7a7;
    color: #f7f7ff;
    border: 0.1px solid #3ec7a7;
}

.search-button {
    padding: none;
    border: none;
    margin: none;
    background: none;

    text-decoration: none;
    color: #3ec7a7;
}

.search-input {
    border: none;
    width: 95%;
}

.index-search-tag {
    background-image: url("./images/index-bg.jpg");
    min-width: 100%;
    min-height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
}

.index-search-tag h2 {
    font-size: 3.5rem;
    max-width: 600px;
    text-align: center;
    color: #ff6363;
    text-shadow: 1px 1px 2px #3a4453;

    margin: 2rem 0;
}

.ingredients-search-bar .search-input {
    border: 1px solid #ff6363;
    min-width: 100vh;
    background-color: #f7f7ff;
    border-radius: 0.375rem;
}

.ingredients-search-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

.index-search-name {
    background-color: #ff636311;
    padding: 1.5rem 1.5rem 3rem 2rem;
    margin: 1.5rem 0;
    border-radius: 0.375rem;

    display: flex;
    flex-direction: column;
}

.index-search-name h2 {
    font-size: 2.25rem;
    color: #ff6363;

    padding: 2rem 0;
}

.recipe-input {
    background: none;
    outline: none;    
}

.recipe-search-bar {
    border: 1px solid #ff6363;
    background-color: #f9fafb;
    max-width: 60%;

    padding: 0.3em 0.5em;
    border-radius: 0.375rem;
    margin: 0 auto;
}
